body, button, h1 {
  font: 16px monospace;
  margin: 0;
}

button {
  background: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: #000 0 2px 4px;
  cursor: pointer;
  width: 100%;
}

button:disabled {
  box-shadow: none;
  cursor: default;
}

button:focus {
  outline:0;
}

h1 {
  font-weight: bold;
  text-align: center;
}

u {
  border-bottom: 1px solid #666;
  text-decoration: none;
}

.city {
  margin: auto;
  text-align: center;
}

.close {
  cursor: pointer;
  float: left;
  margin-right: 5px;
}

.residential button {
  background: #cfc;
}

.commercial button {
  background: #ccf;
}

.industrial button {
  background: #ffc;
}

.newspaper, .panel, .update {
  margin: auto;
  max-width: 480px;
}

.newspaper {
  text-align: left;
}

.newspaper h2 {
  margin-top: 4px;
}

.newspaper>div {
  border: 1px solid #000;
  margin-top: 10px;
  padding: 10px;
}

.panel {
  display: inline-block;
  margin: 20px;
  text-align: left;
  vertical-align: top;
}

.update {
  text-align: left;
}

.update button {
  background: #eee;
  margin: 5px;
  width: 100px;
}
